.logo {
    align-items: center;
    display: flex;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}

.footer {
    text-align: center;
}

.register {
    float: right !important;
}

.ant-menu-horizontal>.ant-menu-item>a, .ant-menu-horizontal>.ant-menu-submenu>a {
    display: inline-block !important;
}

.container{
  padding-top: 10px;
}

.leftContainer {
    width: 400px;
    float: left;
}

.carousel {
    width: 400px;
    float: left;
}

.ant-card{
  margin-top: 0px !important;
}

.ant-card-head{
    line-height: 100%;
    min-height: 40px !important;
}
.ant-card-head-title{
  text-align: left !important;
  padding: 10px 0 !important;
}
.ant-card-body{
  text-align: left !important;
}

.ant-tabs-nav .ant-tabs-tab{
    padding-top:5px !important;
}
.usercenter {
    float: right !important;
}

#container {
    text-align: center !important;
}

.container {
    text-align: center;
    margin-top: 5px;
}

.carousel {
    width: 400px;
    float: left;
}

.carousel img {
    width: 400px;
    height: 245px;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}

.tabs_news {
    padding-left: 10px;
    width: 460px;
    float: left;
}

.tabs_product {
    width: 320px;
    padding-left: 5px;
    float: left;
}

.tabs_news li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 417px;
    float: left;
    text-overflow: ellipsis;
}

.clearfix{
  margin-top: 20px;
}

.ant-tabs-bar {
    margin-bottom: 0 !important;
}

.ant-card-body {
    padding: 15px !important;
}

.leftContainer{
  width:400px;
  float: left;
}

/*image block******START*****/
.imageblock {
    float: left;
}

.custom-card {
    font-size:12px;
    padding: 5px;
}

.custom-card p {
    font-size:8px;
    color: #999;
}

.register{
  float: right !important;
}

/*image block******END*****/

iframe {
    position: relative !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

#content {
    font-size: 12px !important;
}

.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
{
  display: inline-block !important;
}


/*Footer******Start*****/

.footer {
    text-align: center;
    padding-top: 20px;
}


/*Footer******End*****/
 .title,.article-title .title {
    font-size: 0.44rem !important;
    line-height: 1.4em
}

 .article-src-time {
    font-size: 0.3rem !important;
}

 .article-content .txt {
    font-size: 0.36rem !important;
}

/**Article Content**/

.container{
    text-align: center;
}

.article {
    text-align: justify
}

.article-content .img .img-wrap,.hot-news img {
    background-repeat: no-repeat;
    background-position: center
}

.hn-title h2,.in-title h2 {
    z-index: 1;
    font-weight: 600
}

#title {
    margin: 16px 16px 0!important;
    border-bottom: 1px solid #e5e5e5
}

.article-title {
    margin-bottom: .2rem
}

#title .title,.article-title .title {
    font-size: 1.44rem;
    line-height: 1.4em
}

.title {
    color: #000
}

.article-src-time {
    font-size: 1rem;
    color: #999;
    padding-bottom: .2rem
}

.article-content .section {
    line-height: 1.6em;
    margin-bottom: .3rem;
    margin-top: 0
}

.article-content .txt {
    font-size: 1.36rem
}

.article-content .img {
    margin-bottom: .3rem
}

.article-content .img .img-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-size: 40%
}

#content {
    margin: .3rem 16px 16px
}

.article-content .img .img-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 60%
}

.article-content .img .txt-wrap {
    font-size: .36rem;
    line-height: 2em
}

.article-content .app-download {
    position: relative;
    display: block;
    width: 100%;
    height: .8rem;
    text-align: center;
    color: red;
    line-height: .8rem;
    border: 1px solid #e5e5e5;
    border-top: 0 none;
    font-size: .34rem
}

.article-content .app-download img {
    position: absolute;
    width: .42rem;
    height: .42rem;
    margin-right: .15rem;
    top: 50%;
    margin-top: -.21rem;
    left: .66rem
}


.mainArticle{
    width: 100%;
    height: 600px;
}

/***OutSide Link****/
.bottomlink{
    margin-top: 8px;
    font-size: 12px;
}

.bldark{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(228, 225, 225);
}


.blgray{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
}

.iframeWrapper{
    margin-top: 5px;
    display:inline-block;
    position:relative;
  }
  .iframeWrapper:after{
    /* z-index:1 is not necessary for this. */
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  
  .iframeWrapper iframe{
    vertical-align:top;
  }

  .videosidebar{
    margin-left: 5px;
  }
  .videocomment{
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 8px 24px;
    height: 450px;
  }
